.subtitulo{
   margin: 25px; 
   padding: 0;
}
.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.image{
    float: right;
    margin: 0 0 20px 20px;
    max-width: 25%;
    height: auto;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.image2{
    float: left;
    margin: 0 15px 20px 20px;
    max-width: 25%;
    height: auto;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}
article > p{
    text-align: justify;
}